body {
    background: #FFCCCC;
    color: #9E4244;
    padding: 25px;
    font-family: sans-serif;
    max-width: 1024px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 3rem;  
  }
  
  .profile-image {
    width: 320px;
    margin-inline-end: 4rem;
  }
  
  .article-image {
    width: 512px;
  }
  
  
  .bio {
    display: flex;
  }
  
  @media (max-width: 1024px){
    .bio {
      flex-direction: column;
    }
  }
  
  
  .btn {
    text-decoration: none;
    color: #FFCCCC;
    background: #E11584;
    padding: 0 1rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1.25rem;
  
  }
  
  .github {
    color: #FC46AA;
  }
  
  article {
    display: flex;
    padding: 25px;
  }
  
  @media(max-width: 1024px) {
  article {
    flex-direction: column;
  }
  .article-image {
    width: 512px;
  }
  }
  